* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, #00853e, #50c878);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  gap: 100px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #242628;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card h2 {
  margin-top: 35px;
  font-size: 30px;
}

.card-img {
  border: 4px solid #f2726a;
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: auto auto;
  cursor: pointer;
  transform: translateY(20px);
  transition: 0.3s;
}

.card p {
  font-size: 20px;
  margin-top: 10px;
  color: #f2726a;
}

.card .social {
  margin: 25px 0;
}

.card .social a {
  color: white;
  margin: 10px 15px;
  font-size: 25px;
}

.card button {
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  border: 1px solid #f2726a;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.card button:hover {
  background-color: #f2726a;
  transition: 0.5s;
}

.card .social a:hover {
  color: #f2726a;
  transition: 0.2s;
}

.card-img:hover {
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: unset;
  border: none;
}
